@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kalam&family=Lobster&family=Roboto:wght@300;400&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	background-color: #ddd;
	color: #0f141e;
}
.container{
	max-width: 750px;
	margin: auto;
}
a{
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blueviolet;
}

a:active{
	font-weight: bold;
}

a:visited{
	color: #86898f;
}

h1{
	background-color: black;
	color: white;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 30px;
}
img{
	border-radius: 15px;
	border: solid 3px white;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
	width: 150px;
	height: 200px;
}
.info{
	background-color: darkgrey;
	border: solid 1px black;
	border-radius: 5px;
	margin-bottom: 10px;
}
footer{
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}


.card{
	border: 2px;
	border-radius: 10px;
	background-color: rgb(245, 245, 245);
	margin: 5px;
	padding: 10px;
}
.card ol{
	padding-left: 15px;
}

.card p{
	font-weight: bold;
	font-style: italic;
	color: #86898f;
}

.btn{
	background-color: #0f141e;
	color: #ddd;
	padding: 15px 20px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	border: none;
	border-radius: 15px;
}

.btn:hover{
	opacity: 0.8;
}